<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aware.plugin.term_collector"
    android:versionCode="1"
    android:versionName="1.0" >

   <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.aware.READ_CONTEXT_DATA" />
    <uses-permission android:name="com.aware.WRITE_CONTEXT_DATA" />




    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <service
            android:name="Plugin"
            android:exported="true" >
        </service>

        <provider
            android:name="TermCollector_Provider"
            android:authorities="com.aware.provider.plugin.term_collector"
            android:exported="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA"
            android:readPermission="com.aware.READ_CONTEXT_DATA">
        </provider>
   
    </application>

</manifest>